[Unit]
Description=Export hddtemp temperatures as a prometheus metric

[Service]
Type=oneshot
EnvironmentFile=/etc/default/hddtemp-exporter
User=hddtemp-exporter
Group=hddtemp-exporter
ExecStart=/usr/lib/hddtemp-exporter/hddtemp_exporter.sh

# Restrictions
LimitNOFILE=1000
PrivateTmp=true
ProtectHome=true
RemoveIPC=true
RestrictSUIDSGID=true
ProtectControlGroups=true
ProtectSystem=true
